.form-check-label {
  color: #ffffff !important ;
  font-family: Georgia, serif;
}
body {
  background-image: url("images/z2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
  font-family: Georgia, serif;
  text-decoration: underline;
  font-size: 60px;
  color: #f6f9a2 !important ;
}
.po {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  font-weight: 550;
}
.op {
  color: #ffffff !important ;
  font-family: Georgia, serif;
}
.btn-primary:active {
  background: linear-gradient(90deg, #45f3ff, #d9138a);
  opacity: 0.8;
}

.btn-primary {
  display: flex;
  justify-content: center;
  background-color: #230a00;
  padding: 9px 20px;
  /* border:1px; */
  font-size: 25px;
  border-radius: 20px;
  font-weight: 500;
  color: #ffffff !important ;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-primary:hover {
  background-color: #8f0000; /* Change the background color on hover */
}
